article.page {
.abs;
.top(5);
.bottom(0);
.right(0);
.left(50);
.min-w(70);
.pad(2;5;0;6);
overflow: auto;

	&::-webkit-scrollbar {
	    width: 10px;
	    border-left: 1px solid @grayDk;
	}
	 
	/* Track */
	&::-webkit-scrollbar-track {
	    -webkit-box-shadow: none; 
	    -webkit-border-radius: 0px;
	    border-radius: 0px;
	}
	 
	/* Handle */
	&::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 0px;
	    border-radius: 0px;
	    background: @grayDk; 
	    -webkit-box-shadow: none; 
	}
	&::-webkit-scrollbar-thumb:window-inactive {
		background: @grayDk; 
	}

	.profile-img {
	display: inline-block;
	.rounded(20px);
	.border(@grayDk; 0.4);
	.w(14);
	.h(14);
	background-repeat: no-repeat;
	background-position: center center;
	.bg-size();
	background-clip: content-box;
	}
	
	.private-icon {
	.font-size(10);	
	}
	
	.table {
	.border-bot(@grayDk; 0.1);	
		input.input-name {
		display: inline;
		.no-border;
		.font-size(3.6);
		.line-h(3.6);	
		height: auto;
		min-width: 80px;
		max-width: 500px;
		box-shadow: none;	
		.pad-all(0);
			&:focus {
			outline-width: 0px;
			outline-offset: 0px;
			outline-color: white;
			outline-style: none;
			}
		}
	}
}