#team-grid {
.over-hide;
text-align: center;
	.member-profile {
	.in-block;
	.mag(3;1.5;0;1.5);
	.w(50.2);	
	.h(20.2);
	.border(@grayDk; 0.1);
		.profile-img {
		.w(20);	
		.h(20);	
		.no-rounded;
		.no-border;
		.border-right(@grayDk; 0.1);
		.fleft;
		}
		
		.profile-info {
		text-align: left;
		.mag-left(20);
		.w(30);
		.h(16);
		.pad-all(1.5);	
			.name {
			.font-lite;
			.caps;
			.mag-bot(0.8);
			.font-size(2.5);
			.line-h(2.5);	
			.no-text-dec;
			}
			
			.ext {
			.mag-bot(1);	
			}
			
			a.social-link {
			.col(@linkedIn_blue);
			.no-text-dec;
				&:hover, &:active, &:focus {
				.opacity(0.5);
				}
			}
		}
		
		a.btn {
		.pad-all(0);
		.no-rounded;
		.no-border;
		.border-top(@grayDk; 0.1);
		.h(4);
		.line-h(4);
		.col(@grayDk);
		.caps;
			i {
			.fright;
			.line-h(4);	
			.col(@gray);
			.pad-right(1);
			}	
			&:hover, &:active, &:focus {
			.bg-col(@grayDk);
			.col(@wht);
				i {
				.col(@wht);	
				}
			}
		}
	}
}

#reminder-group-wrapper {
.max-w(90);
margin: auto;	
	.reminder-header {
	.rel;
	.pad-bot(1);
		h1 {
		.pad-right(10);
		.mag-top(0);
		.mag-bot(0);
		.line-h(5);	
		}
		a {
		.abs;
		.top(0);
		.right(0);
		.line-h(5);	
		.no-text-dec;
		}	
	}
	
	.group-options {
	.over-hide;
	.transition;
		&.options-closed {
		.h(0);	
		}	
		&.options-open {
		height: auto;
		}
		
		.option-actions {
		.border-top(@grayDk; 0.1);	
		}
		
		input[type="radio"] {
		.mag-top(-0.4);
		.w(3);
		.h(3);
		-webkit-appearance: none;
		appearance: none;
		vertical-align: middle;
		.rounded(100%);
			&:before {
			  content:'';
			  display:block;
			  width:60%;
			  height:60%;
			  margin: 20% auto;    
			  border-radius:50%;    
			}
			&:hover { 
			cursor: pointer;
			}
			
			&.bg-red {
			.bg-col(@red);
			box-shadow:0 0 5px 0px @redMid inset; 
				&:hover {
					&:before {
					background: @redMid;	
					}
				}	
				&:checked {
				box-shadow:0 0 5px 0px @redMid inset; 
					&:before {
					background: @redMid;		
					}
				}
			}
			&.bg-purple {
			.bg-col(@purple);
			box-shadow:0 0 5px 0px @purple-dk inset; 
				&:hover {
					&:before {
					background: @purple-dk;	
					}
				}	
				&:checked {
				box-shadow:0 0 5px 0px @purple-dk inset; 
					&:before {
					background: @purple-dk;		
					}
				}	
			}
			&.bg-green {
			.bg-col(@green);
			box-shadow:0 0 5px 0px @green-dk inset; 
				&:hover {
					&:before {
					background: @green-dk;	
					}
				}	
				&:checked {
				box-shadow:0 0 5px 0px @green-dk inset; 
					&:before {
					background: @green-dk;		
					}
				}		
			}
			&.bg-pink {
			.bg-col(@pink);
			box-shadow:0 0 5px 0px @pink-dk inset; 	
				&:hover {
					&:before {
					background: @pink-dk;	
					}
				}	
				&:checked {
				box-shadow:0 0 5px 0px @pink-dk inset; 
					&:before {
					background: @pink-dk;		
					}
				}		
			}
			&.bg-orange {
			.bg-col(@orange);
			box-shadow:0 0 5px 0px @orange-dk inset; 	
				&:hover {
					&:before {
					background: @orange-dk;	
					}
				}	
				&:checked {
				box-shadow:0 0 5px 0px @orange-dk inset; 
					&:before {
					background: @orange-dk;		
					}
				}		
			}
			&.bg-blue {
			.bg-col(@blue);
			box-shadow:0 0 5px 0px @blue-dk inset; 	
				&:hover {
					&:before {
					background: @blue-dk;	
					}
				}	
				&:checked {
				box-shadow:0 0 5px 0px @blue-dk inset; 
					&:before {
					background: @blue-dk;		
					}
				}	
			}

		}
		
		.btn {
		.pad-right(0);
		.bg-col(@trans);
		.shadow-inset-none;	
			&:hover, &:active, &:focus {
			.col(@gray);
			}
			
			&.delete-group {
			.pad-left(0);
			.col(@red);
				&:hover, &:active, &:focus {
				.col(@redMid);
				}
			}
		}
	}
	.completed-list {
	.over-hide;
	.h(5);
		&.open {
		height: auto;
			.list-header .header-link{
			.animated;
			.fadeIn;
			.block;
			}
		}

	}
	.list-header {
	.border-top(@grayDk; 0.1);
	.line-h(5);
	.rel;
		.header-btn {
		.abs;
		.left(0);
		.top(0);
		.w(5);	
		.h(5);

			button {
			.w(5);	
			.h(5);
			.pad-all(0);
			.no-border;	
			.no-rounded;
			.bg-col(@trans);
			.col(@gray);
			.shadow-inset-none;
			vertical-align: top;
				i {
				.line-h(4.8);	
				}
				&:hover, &:active, &:focus {
				.col(@grayDk);
				}
				&.open i {
				transform: rotate(90deg);	
				}
			}
			
		}	
		.counter-label {
		width: 100%;
		.pad(0;10;0;5);	
		}
		.header-link {
		.abs;
		.right(0);
		.top(0);
		.h(5);	
		.none;
			a {
			.no-text-dec;	
			}
		}
	}
	.reminders {
	//.border-top(@grayDk; 0.1);
	height: auto;	
		&.completed {
		.pad-bot(4);	
		}
		.reminder-label {
		.pad-top(1);
		.pad-bot(0.5);
		.border-top(@grayDk; 0.1);	
		.col(@gray);
		}
		.reminder {
		.border-top(@grayDk; 0.1);
		.rel;
			.editing {
			.opacity(0.5);
			pointer-events: none;
			overflow: visible;	
			}
			.reminder-inner {
			.rel;
			.h(5);
			.over-hide;	
			.pad-right(10);
			.pad-left(5);	
			}
			.change-status {
			.abs;
			.top(0);
			.left(0);
			.w(5);
			.h(5);	
			.line-h(5);
			.text-center;
				input {
				.mag-top(-0.4);
				.w(3);
				.h(3);
				-webkit-appearance: none;
				appearance: none;
				vertical-align: middle;
				box-shadow:0 0 5px 0px @grayDk inset; 
				.rounded(100%);
					&:before {
					  content:'';
					  display:block;
					  width:60%;
					  height:60%;
					  margin: 20% auto;    
					  border-radius:50%;    
					}
					&:hover { 
					cursor: pointer;	
						&:before {
						background: @gray;	
						}
					}
					
					&:checked {
					box-shadow:0 0 5px 0px @grayDk inset; 
						&:before {
						background: @gray;	
						}
  					}
				}
			}
			.details {
			.h(5);
			.pad-top(0.5);
				h3 {
				.mag-top(0);
				.mag-bot(0);
				.font-size(2);
				.line-h(2);	
				}	
				time, span.group-title {
				.font-size(1.2);
				.line-h(1.2);
				.col(@gray);	
				}
			}
			.details-link {
			.abs;
			.top(0);
			.right(0);
			.line-h(5);	
			.none;
			.pad-right(1);
				a {
				.no-text-dec;	
				}
				a.view-reminder-details, a.edit-reminder-details {
				.pad-right(2);	
				}
			}
			
			.reminder-full-details {
			.h(0);
			.over-hide;	
			.transition;
			.pad-left(5);
				
				.notes {
				.pad-top(1);
				font-style: italic;	
				}
			}
			
			.edit-reminder {
			.pad-all(1);	
			
				.form-left, .form-mid  {
				.fleft;
				}
				.form-left {
				width: 32%;
				}
				
				.form-mid , .form-right {
				width: 32%;
				margin-left: 2%;
				}
				
				.form-right {
				.fright;	
				}
				
				.btn {
				.clear;	
				}
				
			}
			&:hover, &:active, &:focus {
			.bg-col(@grayLt);
			cursor: pointer;
				
				.details-link {
				display: block;	
				}
			}
			
			&.active-reminder {
			.bg-col(@grayLt);
				.reminder-full-details {
				height: auto;	
				.pad(1;0;1;5);
				.bg-col(@wht);	
				}	
			}
			
			&.editing {
			.bg-col(@grayLt);	
			}
		}
	}
	
	.reminder-footer {
	.border-top(@grayDk; 0.1);
	.pad-left(5);
		a.btn {
		.no-border;
		.no-rounded;
		.bg-col(@trans);
		.shadow-inset-none;
		.pad-all(0);
		.line-h(5);
		.caps;
		.font-size(2);
		.col(@gray);
			&:hover, &:active, &:focus {
			.col(@grayDk);
			}
		}	
	}
	
	&.group-col-red {

		h1, h3 {
		.col(@red);	
		}
		.reminders {
			
		}
	}
	
	&.group-col-purple {

		h1, h3 {
		.col(@purple-dk);	
		}
	}
	
	&.group-col-green {

		h1, h3 {
		.col(@green-dk);	
		}
	}
	
	&.group-col-pink {
		h1, h3 {
		.col(@pink-dk);	
		}
	}
	
	&.group-col-orange {
		h1, h3 {
		.col(@orange-dk);	
		}
	}
	
	&.group-col-blue {
		h1, h3 {
		.col(@blue-dk);	
		}
	}
}

#calendar-wrapper {
.abs;
.top(0);
.left(0);
.right(0);
.bottom(0);	
.min-w(117);
	.calendar-inner {
	.over-hide;	
	}
	.calendar-header {
	.abs;
	.bottom(0);
	.left(0);
	.right(0);
	.h(5);	
	.line-h(5);
	.bg-col(@wht);
	z-index: 15;	
	.over-hide;
	.border-top(@grayDk; 0.1);
		.calendar-key {
		.mag-top(-0.3);	
		.pad-left(1.5);
		width: 35%;
		.fleft;
			.label {
			.font-size(1);	
			}
		}
		.calendar-actions {
		.mag-top(-0.2);	
		width: 35%;
		.fright;
		.pad-right(1.5);
		}
		.header-date-title {	
		.bold;
		.fleft;
		.text-center;
		.col(grayDk);
		width: 30%;
		margin: auto;
		}
	}
	
	.month-view {
	.abs;
	.top(0);
	.left(0);
	.right(0);
	.bottom(5);
	.min-h(60);
	.min-w(117);
	
		&.weeks-count-5 {
			.day {	
			height: 15%;
			min-height: 15%;
				&:hover:not(.dim-day) {
				.bg-col(@grayLt);
				overflow: visible;
				z-index: 10;
				height: auto;
				}
			}
		}
		
		&.weeks-count-4 {
			.day {	
			height: 18%;
			min-height: 18%;
				&:hover:not(.dim-day) {
				.bg-col(@grayLt);
				overflow: visible;
				z-index: 10;
				height: auto;
				}
			}
		}
		
		.day-col {
		width: 20%;
		height: 100%;
		.border-right(@grayDk; 0.1);
		.bg-col(@wht);
		.rel;
			&:last-child {
			.no-border;	
			}
			.day-label {
			.pad-all(1);
			.bg-col( @gray );
			.col(@wht);	
			.caps;
			height: 10%;
			}
			
			.day {
			width: 100%;
			.pad-all(1);
			.border-top(@grayDk; 0.1);	
			.rel;
			.over-hide;
				&.today {
				.bg-col(@redLt);	
					.day-number {
					.bg-col(@red);
					.col(@wht);	
					.bold;	
					}
				}
				&:last-child {
				.abs;
				.left(0);
				.bottom(0);
				}
				.day-number {
				.abs;
				.top(1);
				.left(1);
				.w(2.5);
				.h(2.5);
				.font-size(1.2);
				.text-center;
				.line-h(2.5);	
				.col(@grayDk);
				.rounded(100%);		
				}
				&.dim-day {
				.bg-col(lighten(@gray, 30%));
					.day-number {
					.col(@gray);
					}	
					&:hover {
					pointer-events: none;
					}
				}
				.events {
				width: 100%;
				height: 100%;
				.pad-left(3);	
				}
				
				.label {
				.in-block;
				.pad-all(0.5);
				.mag-bot(0.5);
				.mag-right(0.5);
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				max-width: 100%;
					&:last-child{
					.mag-bot(0);	
					}
					a {
					.none;	
					}
					
					&:hover {
						a {
						display: inherit;	
						}
					}
				}
			
			}
						
		}
		
		.wk-end {
		width: 8%;	
		.bg-col(@redMidLt);
			.day-label {
			.bg-col( lighten(@gray, 15%) );	
			.col(@grayDk);	
			}
			.day {
				.day-number {
				.col(@redLt);	
				}	
				&.dim-day {
				.bg-col(lighten(@gray, 30%));
					.day-number {
					.col(@gray);	
					}	
				}
			}
		}	
		
	}
		
	.week-view {
	.abs;
	.top(0);
	.left(0);
	.right(0);
	.bottom(5);
	.min-h(60);
	.min-w(117);	
	
		.day-col {
		width: 20%;
		height: 100%;
		.border-right(@grayDk; 0.1);
		.bg-col(@wht);
		.rel;
			&:last-child {
			.no-border;	
			}
			.day-label {
			.pad-all(1);
			.line-h(1.6);
			.bg-col( @gray );
			.col(@wht);	
			.caps;
			height: 10%;
				small {
				.bold;	
				}
			}
			
			&.today {
			.bg-col(@redLt);	
				.day-label {
				.bg-red;	
				}
			}						
		}
		
		.hour {
		.pad-all(1);
		width: 100%;
		.border-top(@grayDk; 0.1);	
		.rel;
		.over-hide;
		height: (90%/9);	
			&:last-child {
			.abs;
			.left(0);
			.bottom(0);
			}
			.hour-number {
			.abs;
			.top(1);
			.left(1);
			.font-size(1.2);
			.text-center;
			.line-h(1.2);	
			.col(@grayDk);			
			}
			
			.events {
			width: 100%;
			height: 100%;
			.pad-left(3.5);	
			}
				
			.label {
			.in-block;
			.pad-all(0.5);
			.mag-bot(0.5);
			.mag-right(0.5);
			.w(4);
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;
				span {
				.pad-right(1);
				white-space: nowrap;
				.over-hide;
				}
				&:hover {
				width: auto;
				}
			}
			&:nth-child(2) {
			.trans-bg(@gray; 0.5);
			}
			&:nth-child(3) {
			.trans-bg(@gray; 0.45);
			}
			&:nth-child(4) {
			.trans-bg(@gray; 0.4);
			}
			&:nth-child(5) {
			.trans-bg(@gray; 0.35);
			}
			&:nth-child(6) {
			.trans-bg(@gray; 0.3);
			}
			&:nth-child(7) {
			.trans-bg(@gray; 0.25);
			}
			&:nth-child(8) {
			.trans-bg(@gray; 0.2);
			}
			&:nth-child(9) {
			.trans-bg(@gray; 0.15);
			}
			&:nth-child(10) {
			.trans-bg(@gray; 0.1);
			}
			
			&:hover {
			.bg-col(@grayLt);
			overflow: visible;
			z-index: 10;
			height: auto;
			min-height: (90%/9);
			}
		}

	}
	
	.day-view {
	.abs;
	.top(0);
	.left(0);
	.right(0);
	.bottom(5);
	.min-h(60);
	.min-w(117);	
		.hour-col {
		width: (100%/9);
		height: 100%;
		.border-right(@grayDk; 0.1);
		.bg-col(@wht);
			&:last-child {
			.no-border;	
			}
			.hour-label {
			.text-center;
			.pad-all(1);
			.line-h(1.6);
			.bg-col( @gray );
			.col(@wht);	
			.border-bot(@grayDk; 0.1);
			height: 6%;
				small {
				.bold;	
				}
			}
			
			.mins {
			.rel;
			height: 47%;
			.pad(2.5;1;1;1);
			.trans-bg(@gray; 0.6);
				&.first-half-hr {
				.pad-top(1);
				.border-bot(@grayDk; 0.1);	
				.trans-bg(@gray; 0.5);
				}	
				.min-number {
				.abs;
				.top(-1.5);
				left: 50%;
				.mag-left(-4);
				.h(3);
				.w(8);
				.font-size(1.2);
				.text-center;
				.line-h(3);	
				.col(@wht);	
				.bg-col(@grayDk);
				.rounded(8px);		
				}
				
				.events {
				width: 100%;
				height: 100%;	
				}
				
				.label {
				.in-block;
				.pad-all(0.5);
				.mag-bot(0.5);
				.mag-right(0.5);
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100%;
					span {
					.pad-right(1);
					white-space: nowrap;
					.over-hide;
					}
				}
			}
			
			&.now {
			.bg-col(@redLt);	
				.day-label {
				.bg-red;	
				}
			}					
		}
	}
		
}