aside.scrollable {
.abs;
.top(5);
.bottom(0);
.w(25);
.border-right(@grayDk; 0.1);
overflow: auto;
//overflow-y: auto;
	
	.address-books {
	height: 100%;
		a {	
		.block;
		.pad-all(1.5);
		.col(@grayDk);
		.border-bot(@grayDk; 0.1);
		.no-text-dec;
		.caps;
			&:hover, &:active, &:focus {
			.bg-col(@grayLt);
			}
			&.active {
			.bg-col(@red);	
			.col(@wht);
			.bold;
			pointer-events: none;
			}
		}	
	}
	
	.contact-names {
	.pad-bot(3.2);
		.letter-label {
		.pad(0.5;1;0.5;1);	
		.bg-col(@grayLt);
		.col(@grayDk);
		.border-bot(@grayDk; 0.1);
		}
		
		.contact-list-item {	
		.border-bot(@grayDk; 0.1);
			a {
			.block;
			.pad(0.5;1;0.5;1);	
			.col(@grayDk);
			.no-text-dec;
				&:hover, &:active, &:focus {
				.bg-col(@grayLt);
				}
			}
			
			&.active-contact {
				a {
				.bg-col(@grayDk);	
				.col(@wht);
				pointer-events: none;
				}
			}
		}
	}
}

aside.sb-left {
.left(0);	
}

aside.sb-right {
.left(25);
}

